<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ScanFolder" value=""/>
    <add key="WebHookUrl" value=""/>
    <add key="AutoStart" value="false"/>
    <add key="WebSocketPort" value="8124"/>
    <add key="ScannerPrograms" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
